@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-['Poppins'] antialiased;
    min-height: 100vh;
    background: linear-gradient(181.19deg, #FFE2F9 1.01%, #FFFFFF 31.63%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
